.container
  %h2 Menu list
  -if current_user.admin
    =link_to "Create menu", menus_path, method: :post
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th #
        %th Date
        %th View
        %th Edit
    %tbody
    - @menu.each do |m|
      %tr
        %td= m.id
        %td
          %strong= m.publish_date.strftime("%A, %b %d")
        %td
          %a{:href => menu_path(m)} View
        %td
          %a{:href => menu_path(m) + '/edit'} Edit



