.container
  %h1 My orders
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Date
        %th Items
        %th Total
    %tbody
    -#- total = 0
    - if @orders
      -@orders.each do |o|
        %tr
          %td= o.id
          %td
            %strong= o.date.strftime("%A, %b %d")
          %td
            -o.menu_items.each do |mi|
              %p= mi.name
          %td
            %span= o.total





